FUserTextEncoding
.RData
.Rapp.history
.Rhistory
.Xauthority
.adobe/
.bash_history
.bash_profile
.bash_profile-anaconda.bak
.bash_profile.pysave
      .bashrc
.boot2docker/
.cache/
.config/
.cups/
.dropbox/
.dvdcss/bashrc
.fontconfig/
.gem/
.gimp-2.8/
.gitconfig
.gitignore_global
.gvimrc
.heroku/
.hgignore_global
.idlerc/
.inkscape-etc/
.ipython/
.inkscaperb_history
.irbrc
.lesshst
.lighttable/
.local/
.mailcap
.matplotlib/
.mime.types
.mplayer/
.netrc
.node-gyp/
.npm/
.pip/
.plotly/
.profile
.pylint.d/
.pylintrc
.python_history
.pythonhist
.rnd
            .rstudio-desktop/
.rvm/
.serverauth.1514
.serverauth.539
.sqlite_history
.ssh/
.subversion/
.vim.old/
.vim/
.viminfo
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.virtualenvs/
.zprofile
.zshrc
018debugging/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
GeoPython.ipynb
Geonomos/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
TEST
VirtualBox VMs/
bin/
dojo_rules/
myapp.rb
.CFUserTextEncoding
.bashrc
.dvdcss/
.irb_history
.rstudio-desktop/
.viminfy.tmp
